
@blueMagme: #5190D7;
@marineMagme: #4AE3E4;
@grayMagme: #EDEDED;
@red: #ff0000;
@black: #000;


body {
  font-family: 'Raleway', sans-serif;
  // position: relative;
  // overflow-x: hidden;
}
body,
html {
  height: 100%;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}
section {
  width: 100%;
}


// Menu
// Pozycja paska menu

#menu{
	padding: 50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}

#login-dp .top{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:10px;
}

#login-dp .top ul {
	list-style-type: none;
}

#login-dp > .top > ul > li a {
  text-decoration: none;
}

#login-dp > .top > ul > li a:hover{
  color: red;
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.navbar-rigth {
	color: #fff;
}

// Second level menu -

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

// Logo

#logo img {

  width: 200px;
  margin-top: -20px;
}


#hero .carousel .item {
  width: 100%;

  img{
    width: 100%;
  }
}

 #hero{

      .carousel-caption{

        top: 30%;
        bottom: auto;

        h1 {
          font-family: 'Roboto';
          font-size: 8em;
          font-weight: 300;
          text-transform: uppercase;
          line-height: .8;

         .blueMagme{
          color: @blueMagme;
         }

         .marineMagme{
          color: @marineMagme;
         }

        }

      }

}


// Section O-Nas

#oNas {
padding-top: 0px;
background-image: url(../images/bg1.jpg);
background-size: cover;
background-attachment: fixed;
height: 100%;
padding-bottom: 0px;

        .leftMagme{
          background-color: #EDEDED;
          color: #213B57;

          .jumbotron.magme{
            margin-bottom: 0;
            padding-bottom: 2%;

            span{
              color: @red;
            }
          }
        }
}


#oferta{
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;

      .jumbotron{
        background-color: transparent;
        color: @grayMagme;
      }

      .columnOferta{
        color: @grayMagme;

        span{
          color: @grayMagme;
          font-size: 8em;

        }

      }

}

#kontakt{
  padding-top: 5%;
  background-image: url(../images/bg3.jpg);
  background-attachment: fixed;
  height: 500px;

    .page-header{
      border-bottom: none;
      color: @grayMagme;

      small{
        color: #5190D7;
      }

      address{
        padding-top: 5%;
      }

    }
}


#stopka{

  padding-top: 4rem;
  font-weight: 100;
  padding-bottom: 2rem;
  text-align: left;
  background-color: #000;
  color: #5C6871;
  z-index: 3000;

      img {
        float: right;
        margin-left: 1rem;
        width: 5%;

           &:hover{
          -webkit-animation: pulse .8s ease;
          -o-animation: pulse .8s ease;
          animation: pulse .8s ease;
          }
        }
}


// Kolorowe menu

.magme-menu li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.magme-menu li:before {
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 5px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}


.magme-menu li:first-child a {
    color: #000;
    background-color: transparent;
}
.magme-menu li:nth-child(2):before {
    background-color: #ec1b5a;
}
.magme-menu li:nth-child(3):before {
    background-color: #79aefe;
}
.magme-menu li:nth-child(4):before {
    background-color: #314190;
}
.magme-menu li:nth-child(5):before {
    background-color: #279636;
}
.magme-menu li:nth-child(6):before {
    background-color: #7d5d81;
}
.magme-menu li:nth-child(7):before {
    background-color: #ead24c;
}
.magme-menu li:nth-child(8):before {
    background-color: #2d2366;
}
.magme-menu li:nth-child(9):before {
    background-color: #35acdf;
}
.magme-menu li:hover:before,
.magme-menu li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.magme-menu li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.magme-menu li a:hover,
.magme-menu li a:active,
.magme-menu li a:focus,
.magme-menu li.open a:hover,
.magme-menu li.open a:active,
.magme-menu li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

// O Firmie

.terraHead .about {
  background-image: url(../images/about_header3.jpg);
  background-size: cover;
}

.terraHead .jumbotron {
    padding: 170px 100px 120px;
}

.terraHead .jumbotron h1, .terraHead .jumbotron p {
  color: @grayMagme;
}


.rightColumn {
  padding-top: 40px;
  padding-right: 60px;

    h2{
      font-size: 5rem;
      padding-bottom: 1rem;
    }
}

#aboutTwo {
  background-color: #2D3239;
  color: #ccc;

  .areaLeft{
    padding: 100px 20px 100px 20px;
  }

  .areaRight{
    padding-top: 100px;

    h1{
      font-size: 29rem;
    }
  }
}

// Team

.terraHead .team {
  background-image: url(../images/team_bg3.jpg);
  background-size: cover;
}

#team{
  padding-bottom: 60px;
}

#team h2 {
  font-size: 5rem;
  color: #55656F
}

#team .lead {
  color: #55656F
}

#team .teamFadeIn {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 12px 12px 15px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  margin: 0 auto;
  padding-bottom: 440px;
  border-radius: 10px;
  background-color: #ccc;
  -webkit-transform: rotate(-3deg);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
}

#team .teamFadeIn:hover{
-webkit-transform: scale(1.1);
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 5px 5px 5px 0 #132112;
  box-shadow: 5px 5px 5px 0 #132112;
}

#team .teamRow{
  padding-top: 60px;
  padding-bottom: 60px;
}

#team .teamRow:nth-child(1n){
    -webkit-transform: rotate(3deg);
}
#team .teamRow:nth-child(2n){
    -webkit-transform: rotate(2deg);
}
#team .teamRow:nth-child(3n){
    -webkit-transform: rotate(4deg);
}

// Kariera

.outerMagme{
   max-width: 1300px;
  margin: 0 auto;
}

.terraHead .career {
  background-image: url(../images/career.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}


#career{

      .container-fluid{
      background-color: @black;
      }

      .outerMagme{
      max-width: 1300px;
      margin: 0 auto;
      }

      .careerIntro {
      padding-top: 3%;
      padding-left: 5%;
      padding-right: 1%;
      padding-bottom: 0%;
      margin-bottom: 0px;
      }

      .careerIntro h3, .careerIntro h2, .careerIntro h1, .careerIntro h4 {
      line-height: 3rem;
      color: #8A8A8A;
      }

      .whiteBg{
        background-color: #fff;
      }

      .wanted{
        padding: 10%;
      }

      .wanted h1 {
      font-size: 52px;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }

      .wanted p {
        background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }

      .gradientBg{
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

      }

      .careerList{
        padding: 0 10% 4% 10%;
      }

      .careerList {

            .media-heading {
                 background: -webkit-linear-gradient(#55656F, #C81F7C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                color: #8A8A8A;
            }

        }

}

// Kontakt

.terraHead .kontakt {
  background-image: url(../images/kontakt_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#kontaktSite{
    >.container {
      padding: 5% 5% 5%;
    }

    .columnContact p {
      font-size: 5em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }

    .formularzTerra{
      max-width: 1300px;
      padding-left: 15%;
      padding-right: 15%;

          label{
            font-size: 2em;
            background: -webkit-linear-gradient(#55656F, #C81F7C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
          }

          button {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93cede+0,75bdd1+41,49a5bf+100;Blue+3D+%235 */
background: #93cede; /* Old browsers */
background: -moz-linear-gradient(top,  #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */




          }


    }
}

// Blog

.blogHeaderOne{
    text-align: left;
    color: #fff;
    background: #000;
    position: fixed;
    width:100%;
    z-index: 1;
    height: 58%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url(../images/blog1.jpg);
    background-size: cover;

}

.blogHeaderTwo{
    text-align: left;
    color: #fff;
    background: #000;
    position: fixed;
    width:100%;
    z-index: 1;
    height: 58%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url(../images/blog2.jpg);
    background-size: cover;

}

.blogHeaderThree{
    text-align: left;
    color: #fff;
    background: #000;
    position: fixed;
    width:100%;
    z-index: 1;
    height: 58%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url(../images/blog3.jpg);
    background-size: cover;

}

.blogHeaderFour{
    text-align: left;
    color: #fff;
    background: #000;
    position: fixed;
    width:100%;
    z-index: 1;
    height: 58%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url(../images/blog4.jpg);
    background-size: cover;

}


.blogBody{
    background-color: white;
    top: 65%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;

    .blogTitle, .lead, .blogBio, .well h4{
        background: -webkit-linear-gradient(#55656F, #C81F7C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }

    .autorInfo{
      padding-top: 30px;
    }

    .well{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


    }

    aside {
      padding-top: 40px;
    }

}


// Login Page

#loginPage{
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/login_bg.jpg);
    background-size: cover;
    height: 100%;

      .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
      }

      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }

      .form-signin-heading {
        color: #fff;
      }

      .form-signin .checkbox {
      font-weight: normal;
      color: #fff;
      }

      .form-signin .help-block a {
        color: #fff;
      }

      .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
      }

        .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

}

// Webmail

#bodyWebmail{
  overflow: hidden;
              height: 100%;

      #clouds{
        padding: 300px 0;
        background: #c9dbe9;
        background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
        background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
        background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);

            #webMail{
              position: absolute;
              width: 100%;
              top: 28%;

              .form-signin{
                      max-width: 330px;
                      padding: 25px;
                      margin: 0 auto;
                      }
              }
       }

      .cloud {
        width: 200px; height: 60px;
        background: #fff;

        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;

        position: relative;
      }

      .cloud:before, .cloud:after {
        content: '';
        position: absolute;
        background: #fff;
        width: 100px; height: 80px;
        position: absolute; top: -15px; left: 10px;

        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;

        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -moz-transform: rotate(30deg);
      }

      .cloud:after {
        width: 120px; height: 120px;
        top: -55px; left: auto; right: 15px;
      }

      /*Time to animate*/
      .x1 {
        -webkit-animation: moveclouds 15s linear infinite;
        -moz-animation: moveclouds 15s linear infinite;
        -o-animation: moveclouds 15s linear infinite;
      }

      /*variable speed, opacity, and position of clouds for realistic effect*/
      .x2 {
        left: 200px;

        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.6; /*opacity proportional to the size*/

        /*Speed will also be proportional to the size and opacity*/
        /*More the speed. Less the time in 's' = seconds*/
        -webkit-animation: moveclouds 25s linear infinite;
        -moz-animation: moveclouds 25s linear infinite;
        -o-animation: moveclouds 25s linear infinite;
      }

      .x3 {
        left: -250px; top: -200px;

        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.8; /*opacity proportional to the size*/

        -webkit-animation: moveclouds 20s linear infinite;
        -moz-animation: moveclouds 20s linear infinite;
        -o-animation: moveclouds 20s linear infinite;
      }

      .x4 {
        left: 470px; top: -250px;

        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        opacity: 0.75; /*opacity proportional to the size*/

        -webkit-animation: moveclouds 18s linear infinite;
        -moz-animation: moveclouds 18s linear infinite;
        -o-animation: moveclouds 18s linear infinite;
      }

      .x5 {
        left: -150px; top: -150px;

        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.8; /*opacity proportional to the size*/

        -webkit-animation: moveclouds 20s linear infinite;
        -moz-animation: moveclouds 20s linear infinite;
        -o-animation: moveclouds 20s linear infinite;
      }


  //     .stopka{
  //       margin-top: 50px;
  //       padding-top: 4rem;
  // font-weight: 100;
  // padding-bottom: 2rem;
  // text-align: left;
  // background-color: #000;
  // color: #5C6871;
  // z-index: 3000;
  // bottom:0;

  //     img {
  //       float: right;
  //       margin-left: 1rem;
  //       width: 5%;

  //          &:hover{
  //         -webkit-animation: pulse .8s ease;
  //         -o-animation: pulse .8s ease;
  //         animation: pulse .8s ease;
  //         }
  //       }
  //     }

}


@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}


// FaQ

.terraHead .faq {
  background-image: url(../images/faq_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#faq {

    padding-top: 7%;
    padding-bottom: 5%;

    h2{
          background: -webkit-linear-gradient(#55656F, #C81F7C);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3em;
    }

    #accordion{

      .panel-heading {

-webkit-box-shadow: 3px 6px 29px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 29px -10px rgba(0,0,0,0.75);
box-shadow: 3px 6px 29px -10px rgba(0,0,0,0.75);



      }

    }
}


// Feedback

.terraHead .feedback {
  background-image: url(../images/feedback_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#feedbackPage {
  padding-top: 5%;
  padding-bottom: 5%;

    h2{
      font-size: 3em;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3em;
    }

    .feedbackTerra label {
      background: -webkit-linear-gradient(#55656F, #C81F7C);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1.5em;
    }
}


// wdrozenia

.terraHead .wdrozenia {
  background-image: url(../images/wdrozenia_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#wdrozenia {

    img{
      margin: 0;
      padding: 0;
    }

    .box{
      padding-top: 5%;
    }

    h2 {
      font-size: 3em;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3{
      background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    .wdrozeniaLead {
      background-color: #ccc;
      background-image: url(../images/zdrozenia_bg_one.jpg);
      background-attachment: fixed;
      background-size: cover;
      padding: 5%;

        p{
          background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          padding-top: 5%;
          > span {
          font-size: 4em;
        }

        }

    }

    .boxLogo {

        padding-top: 7%;
        padding-bottom: 7%;
        box-shadow: 0px -3px 30px -10px #888888;

        img{
            padding: 5%;
            margin: 0 auto;
          }

      }
}


// Case Study


.terraHead .case {
  background-image: url(../images/case_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#case {

    .caseIntro{
      padding-top: 7%;
    }
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


// www portfolio

.terraHead .websitePortfolio {
  background-image: url(../images/website_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#websitePortfolio{

      padding-top: 7%;
      padding-bottom: 7%;

    h2{
       font-size: 3em;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3 a {
       font-size: 1.3em;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }
}


// Animation

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px;
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
  font-size: 4em;
margin: 80px auto 0px;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}


#animation {
      background-color: #000;
  .animationOne{
    background-color: #000;
    background-image: url(../images/animate1.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;

    h2{
      display: inline-block;
      background-color: #000;
      padding: 2%;
      color: #fff;
    }

    .lead{
      display: inline-block;
      background-color: #000;
      padding: 4%;
      color: #fff;
    }

    .rightAnime{
      padding-top: 18%;

        h2{
      display: inline-block;
      background-color: #fff;
      padding: 2%;
      color: #000;
    }

    .lead{
      display: inline-block;
      background-color: #fff;
      padding: 4%;
      color: #000;
    }

    }

  }


  .penTablet{
    background-image: url(../images/pen_atblet.jpg);

          .lead{
            padding: 0 5% 10%;
            color: #fff;
          }

          button{
            margin-top: 5%;
          }

          .icons{
            font-size: 6em;
            padding-top: 20%;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          }
  }
}


// Oferta - Glowne Menu


.columnRightPortfolio{
  background-color: #000;
  padding: 0;
  margin: 0;
}

.buttonPortfolio{
      margin-top: 5%;
      border: 1px solid #000;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */


}

.portfolioLead {

      background-color: #ccc;
      background-image: url(../images/zdrozenia_bg_one.jpg);
      background-attachment: fixed;
      background-size: cover;
      padding: 5%;

        p{
          background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          padding-top: 5%;
          > span {
          font-size: 4em;
        }

        }
}


#systemy, #anty, #administracja, #windows, #linux, #backup, #sieci, #monitoring{

      img{
      margin: 0;
      padding: 0;
    }

    .box{
      padding-top: 5%;
    }

    h2 {
      font-size: 3em;
      background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3{
      background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }
}


// Monitoring Systemow

.terraHead .systemy {
  background-image: url(../images/monitoring_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

// Ochrona Antywirusowa i bezpieczeństwo

.terraHead .antywirus {
  background-image: url(../images/antywirus_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

// Administracja Systemami Siecowymi

.terraHead .administracja {
  background-image: url(../images/administracja_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

.terraHead .windows {
  background-image: url(../images/windows_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

.terraHead .linux {
  background-image: url(../images/linux_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

.terraHead .backup {
  background-image: url(../images/backup_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

.terraHead .sieci {
  background-image: url(../images/sieci_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}


.terraHead .monitoring {
  background-image: url(../images/camera_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

// Hosting

.terraHead .hosting {
  background-image: url(../images/hosting_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}


#hosting {

    .hostingBg {
      padding-bottom: 10%;
      background-image: url(../images/hosting_second.jpg);
      background-size: cover;
    }

    .box {
      padding-top: 5em;
      padding-left: 5%;
      padding-right: 10%;

    }

    h2 {
        font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3 > span{
      font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3 a {
      background: -webkit-linear-gradient(#C81F7C, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }


    .iconsHosting {

          > div {
      padding: 3%;
      }
    }

    .hostingParalax {
      padding: 0;
      margin: 0 auto;
      background-image: url(../images/hosting_third.jpg);
      background-size: cover;
      width: 100%;
      height: auto;
      min-height: 400px;
    }

    .outroHosting {
      padding-top: 5%;
    }
}

// Email Hosting

.terraHead .emailHosting {
  background-image: url(../images/emailHosting_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}


#emailHosting{

    .hostingBg {
      padding-bottom: 10%;
      background-image: url(../images/emailHosting_main.jpg);
      background-size: cover;
    }

    .box {
      padding-top: 10%;
      padding-left: 5%;
      padding-right: 10%;

    }

    h2 {
        font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    a {
      font-size: 2em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }



    .emailHostingParalax {
      padding: 0;
      margin: 0 auto;
      background-image: url(../images/emailHosting_secong.jpg);
      background-size: cover;
      width: 100%;
      height: auto;
      min-height: 600px;
    }

}


// Exchange Hosting

.terraHead .exchange {
  background-image: url(../images/exchange_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#exchange {

  .exchangeParalax {
      padding: 0;
      margin: 0 auto;
      background-image: url(../images/exchange_main.jpg);
      background-size: cover;
      width: 100%;
      height: auto;
      min-height: 600px;
    }

    .box {
      padding-top: 10%;
      padding-left: 5%;
      padding-right: 10%;

    }

    h2 {
        font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    a {
      font-size: 2em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }
}


// Serwery dedykowane


.terraHead .serwery {
  background-image: url(../images/serwery_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#serwery{
  .hostingBg {
      padding-bottom: 10%;
      background-image: url(../images/serwery_main.jpg);
      background-size: cover;
    }

    .box {
      padding-top: 10%;
      padding-left: 5%;
      padding-right: 10%;

    }

    h2 {
        font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    a {
      font-size: 2em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    .leftCl h2, .leftCl p {

      background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    .darkBg{
      background-color: #2D3239;
    }
}

// VPS
.terraHead .vps {
  background-image: url(../images/vps_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#vps {
  .box {
      padding-top: 10%;
      padding-left: 5%;
      padding-right: 10%;

    }

    h2 {
        font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    a {
      font-size: 2em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    .darkBg{
      background-color: #2D3239;
    }

    .darkBg {
      h1 > span {
        background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 7em;
      }
    }

    .leftCl h2, .leftCl p {

      background: -webkit-linear-gradient(#fff, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

}

// SSL

.terraHead .ssl {
  background-image: url(../images/ssl_bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
}

#ssl {
  .hostingBg {
      padding-bottom: 10%;
      background-image: url(../images/ssl_main.jpg);
      background-size: cover;
    }

    .box {
      padding-top: 5em;
      padding-left: 5%;
      padding-right: 10%;

    }

    h2 {
        font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3 > span{
      font-size: 4em;
       background: -webkit-linear-gradient(#55656F, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    h3 a {
      background: -webkit-linear-gradient(#C81F7C, #C81F7C);
      -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }


    .iconsHosting {

          > div {
      padding: 3%;
      }
    }

    .hostingParalax {
      padding: 0;
      margin: 0 auto;
      background-image: url(../images/hosting_third.jpg);
      background-size: cover;
      width: 100%;
      height: auto;
      min-height: 400px;
    }

    .outroHosting {
      padding-top: 5%;
    }
}


